<div class="nav">
  <p-menubar>
    <ng-template pTemplate="start">
      <div class="header">
        <img src="../assets/stealthy500x276.png" />
        <div class="title">Stealthy</div>
      </div>
    </ng-template>  
  
    <ng-template pTemplate="end">
      <button pButton *ngIf="!loggedIn" label="Connect" [pTooltip]="wallet" class="p-button-raised p-button-text p-button-sm" (click)="connectWallet()" icon="pi pi-arrow-right" iconPos="right"></button>
      <button pButton *ngIf="loggedIn" label="Copy Address" [pTooltip]="wallet" class="p-button-raised p-button-text p-button-sm" (click)="copyAddress()" icon="pi pi-copy" iconPos="right"></button>
    </ng-template>  
  </p-menubar>
</div>

<div class="content">
  <p-card>
    <img src="../assets/stealthy500x113.png" class="top-image" />

    <div class="top">
      <div class="name">
        <div class="super">Stealthy.Cash</div>
        <div class="sub">Payments.</div>
      </div>

      <p>Psuedo-anonymous stealth payments made easy with stealthy.</p>
    </div>
  </p-card>

  <div class="devider">Getting Started...</div>
  
  <div *ngFor="let instruction of instructions">
    <b class="target">{{instruction.target}}</b>
    <p-carousel [value]="instruction.items" [numVisible]="1" [numScroll]="1">
      <ng-template let-item pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
          <div>
            <h4 class="mb-1">{{ item.name }}</h4>
            <h6 class="mt-0 mb-3">{{ item.description }}</h6>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="devider"> - Transact - </div>
  
  <p-tabView [style]="{'margin-top': '20px'}">
    <p-tabPanel header="Deposit">
      <div *ngIf="!loggedIn">
        <div class="flex flex-column gap-2">
          <label htmlFor="amount">Connect Wallet to Transact!</label>
        </div>
      </div>

      <div *ngIf="loggedIn" class="flex flex-column gap-2 mt-2">
        
        <div class="row">
          <div>
            <span class="p-float-label flex flex-column">
              <p-inputNumber id="amount" [(ngModel)]="amount" [style]="{'width': '100%'}" ></p-inputNumber>
              <label htmlFor="amount">Amount</label>
            </span>
            <small>Enter the amount you would like to send.</small>
          </div>

          <div>
            <span class="p-float-label flex flex-column" >
              <input pInputText id="password" type="password" [(ngModel)]="password" [style]="{'width': '100%'}" />
              <label htmlFor="password">Withdrawal Password</label>
            </span>
            <small>Enter the password to be used for withdrawal. Alphanumeric, max 8 characters.</small>
          </div>

          <div>
            <span class="p-float-label flex flex-column" >
              <input pInputText id="confirm" type="password" [(ngModel)]="confirmPassword" [style]="{'width': '100%'}" />
              <label htmlFor="confirm">Confirm Password</label>
            </span>
            <small>Re-enter your withdrawal password.</small>
          </div>
        </div>

        <div class="buttons">
          <div class="button">
            <button pButton label="Restart" (click)="cancelDeposit()" class="p-button-raised p-button-sm p-button-warning" [style]="{'width':'100%'}"></button>
            <button pButton label="Confirm" (click)="sendfunds()" class="p-button-raised p-button-sm p-button-success" [style]="{'width':'100%'}"></button>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Withdraw">
      <div *ngIf="!loggedIn">
        <div class="flex flex-column gap-2">
          <label htmlFor="amount">Connect Wallet to Transact!</label>
        </div>
      </div>

      <div *ngIf="loggedIn" class="flex flex-column gap-2 mt-2">
        
        <div class="row">
          <div>
            <span class="p-float-label flex flex-column" >
              <input pInputText id="address" type="password" [(ngModel)]="contract" [style]="{'width': '100%'}" />
              <label htmlFor="address">Contract Address</label>
            </span>
            <small>Withdrawal contract from sender.</small>
          </div>

          <div>
            <span class="p-float-label flex flex-column" >
              <input pInputText id="alphanum" type="password" [(ngModel)]="toAddress" [style]="{'width': '100%'}" />
              <label htmlFor="alphanum">Withdrawal Address</label>
            </span>
            <small>Where to withdraw, leave blank if withdrawing to connected wallet.</small>
          </div>

          <div>
            <span class="p-float-label flex flex-column" >
              <input pInputText id="passwordWithdraw" type="password" [(ngModel)]="passwordWithdraw" [style]="{'width': '100%'}" />
              <label htmlFor="passwordWithdraw">Withdrawal Password</label>
            </span>
            <small>Enter the withdraw password.</small>
          </div>
        </div>
        
        <div class="buttons">
          <div class="button">
            <button pButton label="Restart" (click)="cancelWithdrawal()" class="p-button-raised p-button-sm p-button-warning" [style]="{'width':'100%'}"></button>
            <button pButton label="Confirm" (click)="withdrawfunds()" class="p-button-raised p-button-sm p-button-success" [style]="{'width':'100%'}"></button>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>

<div class="footer">
  <img src="../assets/stealthy500x276.png">
  Stealthy @{{year}}
</div>

<p-confirmDialog #cd [style]="{width: '40vw'}" [breakpoints]="{'900px':'90vw'}">
  <ng-template pTemplate="footer">
    <div class="buttons">
      <button pButton class="p-button-sm p-button-raised p-button-warning" label="Cancel" (click)="cd.reject()" style="width: 100%;"></button>
      <button pButton class="p-button-sm p-button-raised p-button-success" label="Confirm" (click)="cd.accept()" style="width: 100%;"></button>
    </div>
  </ng-template>
</p-confirmDialog>