.header {
    display: flex;
}

.header img {
    height: 20px;
    margin-right: 10px;
}

.header .title {
    font-weight: 700;
}

:host ::ng-deep .p-card {
    background: linear-gradient(to top, gray, var(--primary-color));
}

:host ::ng-deep .p-menubar {
    background: linear-gradient(to left, white, var(--primary-color));
}

.row {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.row small {
    font-size: xx-small;
    font-style: italic;
    font-weight: 500;
    color: var(--primary-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.buttons button {
    width: 100%;
}

.button {
    display: flex;
    gap: 10px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 10px;
}

.content .top-image {
    width: 100%;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: small;
    font-style: italic;
    font-weight: 600;
}

.name {
    display: flex;
    flex-direction: column;
    font-style: italic;
    width: fit-content;
}

.name .super {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.name .sub {
    text-align: end;
    font-size: x-small;
    font-weight: 500;
}

.devider {
    color: var(--text-color);
    font-weight: 700;
    font-size: large;
    margin-top: 20px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--surface-b), var(--primary-color), var(--surface-b));
    border-left: none;
    border-right: none;
}

:host ::ng-deep .p-tabview-nav {
    display: flex;
    justify-content: space-between;
    background: var(--surface-e);
    border-radius: 5px;
}

:host ::ng-deep .p-tabview-nav * {
    width: 100%;
}

:host ::ng-deep .p-tabview > * {
    background: var(--surface-b);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 15vw;
    right: 15vw;
    padding: 15px;
    background-color: var(--surface-a);
    text-align: center;
    font-size: small;
    font-style: italic;
    color: gray;
    border-width: 1px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--surface-b), var(--primary-color), var(--surface-b));
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.footer img {
    height: 10px;
}

@media only screen and (width > 900px) {
    .content .top-image {
        width: fit-content;
    }

    .row div {
        width: 32%;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .button {
        display: flex;
        gap: 10px;
        width: 50%;
    }
}