<p-menubar>
  <ng-template pTemplate="start">
    <div class="header">
      <img src="../assets/stealthy500x276.png" />
      <div class="title">Stealthy</div>
    </div>
  </ng-template>  

  <ng-template pTemplate="end">
    <button pButton *ngIf="!loggedIn" label="Connect" [pTooltip]="wallet" class="p-button-raised p-button-text p-button-sm" (click)="connectWallet()" icon="pi pi-arrow-right" iconPos="right"></button>
    <button pButton *ngIf="loggedIn" label="Copy Address" [pTooltip]="wallet" class="p-button-raised p-button-text p-button-sm" (click)="copyAddress()" icon="pi pi-copy" iconPos="right"></button>
  </ng-template>  
</p-menubar>

<div class="content">
  <p-card>
    <img src="../assets/stealthy500x113.png" class="top-image" />

    <div class="top">
      <div class="name">
        <div class="super">Stealthy.Cash</div>
        <div class="sub">Payments.</div>
      </div>

      <p>Psuedo-anonymous stealth payments made easy with stealthy.</p>
    </div>
  </p-card>

  <div class="devider"></div>
  
  <p-card header="Transact" style="text-align: center;">
    <p-tabView>
      <p-tabPanel header="Deposit">
        <div *ngIf="!loggedIn">
          <div class="flex flex-column gap-2">
            <label htmlFor="amount">Connect Wallet to Transact!</label>
          </div>
        </div>

        <div *ngIf="loggedIn">
          <div class="flex flex-column gap-2">
            <label htmlFor="amount">Amount</label>
            <input pInputText id="amount" pKeyFilter="money" aria-describedby="amount-help" [(ngModel)]="amount" />
            <small id="amount-help">Enter the amount you would like to send.</small>
          </div>

          <br>

          <div class="flex flex-column gap-2">
            <label htmlFor="password">Withdraw Password</label>
            <input pInputText id="password" pKeyFilter="alphanum" type="password" aria-describedby="password-help" [(ngModel)]="password"/>
            <small id="password-help">Enter the password to be used for withdrawal. Alphanumeric, max 8 characters</small>
          </div>

          <div class="flex flex-column gap-2">
            <label htmlFor="confirm">Confirm Password</label>
            <input pInputText id="confirm" pKeyFilter="alphanum" type="password" aria-describedby="confirm-help" [(ngModel)]="confirmPassword"/>
            <small id="confirm-help">Enter the password to be used for withdrawal. Alphanumeric, max 8 characters</small>
          </div>

          <br>

          <p-button label="Confirm" (click)="sendfunds()"></p-button>
        </div>
      </p-tabPanel>

      <p-tabPanel header="Withdraw">
        <div *ngIf="!loggedIn">
          <div class="flex flex-column gap-2">
            <label htmlFor="amount">Connect Wallet to proceed!</label>
          </div>
        </div>

        <div *ngIf="loggedIn">
          <div class="flex flex-column gap-2">
            <label htmlFor="address">Send Contract Address</label>
            <input pInputText id="address" pKeyFilter="money" aria-describedby="address-help" [(ngModel)]="contract"/>
            <small id="amount-help">Withdrawal contract from sender.</small>
          </div>

          <br>

          <div class="flex flex-column gap-2">
            <label htmlFor="amount">Withdraw to Address</label>
            <input pInputText id="alphanum" pKeyFilter="money" aria-describedby="amount-help" [(ngModel)]="toAddress"/>
            <small id="amount-help">Where to withdraw, leave blank if withdrawing to connected wallet.</small>
          </div>

          <br>

          <div class="flex flex-column gap-2">
            <label htmlFor="passwordWithdraw">Withdraw Password</label>
            <input pInputText id="passwordWithdraw" pKeyFilter="alphanum" type="password" aria-describedby="passwordWithdraw-help" [(ngModel)]="passwordWithdraw" pKeyFilter="alphanum"/>
            <small id="passwordWithdraw-help">Enter the withdraw password.</small>
          </div>

          <br>

          <p-button label="Confirm" (click)="withdrawfunds()"></p-button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </p-card>
</div>